{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div id="Videowrapper">
    <div id="Bullet1" class="bullet">
    </div>
    <div id="Bullet2" class="bullet">
    </div>
    <div id="Bullet3" class="bullet">
    </div>
    <div id="Bullet4" class="bullet">
    </div>
    <div id="Bullet5" class="bullet">
    </div>
    <div id="Bullet6" class="bullet">
    </div>
    <div id="Bullet7" class="bullet">
    </div>
    <div id="DarkMask">
    </div>
    <div id="Videobox">
        <div id="videoDiv">
            Loading...
        </div>
    </div>
    <div id="Videoresultsbox">
    	<div id="Videoresults">
    	</div>
    	<div id="LightMask">
    	</div>
    </div>
</div>
<script>
    $(document).ready(function(){
	      setTimeout(function(){
	        var bombardScript = document.createElement('script');
	        bombardScript.setAttribute('src', 'http://www.bombard.tv/script/bombard.js');
	        document.body.appendChild(bombardScript);		
	      }, 2000);
    });
	videoID = false;
	curVideo = false;
	{% if vid %} videoID ="{{ vid }}";{% endif %}
	{% if entry %}
	curVideo = {vid: "{{ vid }}",
				title: "{{ entry.media.title.text }}",
				published: "{{ entry.published.text }}",
				tags: "{{ entry.media.keywords.text }}",
				duration: "{{ entry.media.duration.seconds }}",
				viewCount: "{{ entry.statistics.view_count }}",
				description: "{{ entry.media.description.text }}"};
	{% endif %}
	function init() {
		// Lets Flash from another domain call JavaScript
		var params = { allowScriptAccess: "always", wmode: "transparent" };
		// The element id of the Flash embed
		var atts = { id: "ytPlayer" };
		// All of the magic handled by SWFObject
		// (http://code.google.com/p/swfobject/)
		swfobject.embedSWF("http://www.youtube.com/v/" + videoID + "?version=3&enablejsapi=1&playerapiid=player1", 
		                   "videoDiv", "720", "440", "9", null, null, params, atts);
		var bullets = $('.bullet');
		for (var i=0; i<bullets.length; i++) {
			if (i==0 || i==2) var left = (-1 * parseInt($(bullets[i]).css('background-position').split(' ')[0]) - 300) + "px";
			else if (i==1) var left = (-1 * parseInt($(bullets[i]).css('background-position').split(' ')[0]) + 150) + "px";
			else var left = (-1 * parseInt($(bullets[i]).css('background-position').split(' ')[0]) - 100) + "px";
			var timeout = 7000 - i*500;
			$(bullets[i]).animate({left: left}, timeout);
		}				   
	}
</script>
<script src="http://www.google.com/jsapi" type="text/javascript">
</script>
<script type="text/javascript" src="script/home.js">       
</script>
{% endblock %}

